html {
  height: 100%;
}

body {
  margin: 0;
}

img {
  width: 100vw;
}

.content {
  margin: 2.1em;
  padding-bottom: 1.5em;
}

h1 {
  font-family: "Young Serif";
  font-weight: 400;
  color: hsl(24, 5%, 18%);
  font-size: 36px;
}

h2 {
  font-family: "Young Serif";
  font-weight: 400;
  color: hsl(14, 45%, 36%);
  font-size: 28px;
}

p,
li,
td {
  font-family: Outfit;
  font-weight: 400;
  line-height: 1.6em;
  color: hsl(30, 10%, 34%);
  font-size: 16px;
}

ul,
ol {
  padding-left: 1.2em;
}

li {
  padding-left: 1em;
  padding-bottom: 0.6em;
}

ul > li::marker {
  color: hsl(14, 45%, 36%);
}

.purpleboi > h3 {
  color: hsl(332, 51%, 32%);
  font-family: Outfit;
  font-weight: 600;
}

.purpleboi ::marker {
  color: hsl(332, 51%, 32%);
}

ol > li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

.purpleboi {
  background-color: hsl(330, 100%, 98%);
  padding: 0.3em 2em 0.3em 1em;
  border-radius: 12px;
}

hr {
  border: 0.5px solid hsl(30, 18%, 87%);
}

td {
  padding: 0.8em 3.5em 0.8em 2em;
}

td:nth-of-type(even) {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

tr:last-of-type {
  border: none;
}
